<%-include("partials/header")-%>

<h1>Home</h1>
<p><%= homeStartingContent%></p>

<% for (let i = 0; i < post.length; i++) { %>
    
    <h1><%= post[i].postTitle %></h1>

    <%  var postD = post[i].description ; %>

    <% var postshort = postD.substring(0, 100); %>

    <p><%= postshort %> <a href="/post/<%= post[i]._id  %>">read more</a></p>
    

    

<% } %> 


<%-include("partials/footer")-%>
